{%extends 'bee.html'%}
{%block title%} UNIT 4{%endblock title%}

{%block content%}

<H5>Sinusoidal Voltage and current</h5>

<P>The current which reverses it's direction periodically is called alternating current.</p>

<p>The voltage which changes its polarity periodically is called alternating voltage.</p>

<h5>Periodic time</h5>
<img src="/static/images/Unit 4/1.jpg"  width = '340px'>

<p>The time taken to complete one cycle of a wave is called periodic time.</p>


<h5>Frequency</h5>
<br>
<img src="/static/images/Unit 4/2.jpg" width = '340px'>
<br>


<P>The number of waves passing through a 
fixed place in given amount of time.</p>

<h5>Instantaneous voltage</h5>

<P>The voltage or current at given time is its instantaneous voltage or current.</p>

<P>Equation of instantaneous voltage
v(t)= Vm*sin(2πft)

Equation of instantaneous current
i(t)= Im sin(2πft)</p>

<h5>Peak value</h5>

<br>
<img src="/static/images/Unit 4/3.jpg" width = '340px'>
<br>

<P>The maximum value of any waveform is its peak value.</p>

<H5>Average value</h5>

<P>The average voltage (VAV) of a sinusoidal waveform is determined by multiplying the peak voltage value by the constant 0.637, which is two divided by pi (π).</p>
<br>
<img src="/static/images/Unit 4/4.png" width = '340px'>
<br>


<H5>RMS</H5>
<P>In mathematics and its applications, the root mean square (RMS or rms) is defined as the square root of the mean square (the arithmetic mean of the squares of a set of numbers).The RMS is also known as the quadratic mean and is a particular case of the generalized mean with exponent 2. RMS can also be defined for a continuously varying function in terms of an integral of the squares of the instantaneous values during a cycle.
For alternating electric current, RMS is equal to the value of the direct current that would produce the same average power dissipation in a resistive load. 
The RMS value of a set of values (or a continuous-time waveform) is the square root of the arithmetic mean of the squares of the values, or the square of the function that defines the continuous waveform. </p>

<br>
<img src="/static/images/Unit 4/5.png" width = '340px'>
<br>


<H5>Form Factor</h5>
<p>The form factor of an alternating current waveform is the ratio of the RMS value to the average value. It identifies the ratio of the direct current of equal power relative to the given alternating current  </p>

<br>
<img src="/static/images/Unit 4/6.jpg" width = '340px'>
<br>


<h5>Peak Factor</h5>
<p> Peak Factor is defined as the ratio of maximum value to the R.M.S value of an alternating quantity.</p>

<br>
<img src="/static/images/Unit 4/7.jpg" width = '340px'>
<br>


<H5>Phase Difference</h5>
	<br>
<img src="/static/images/Unit 4/8.png" width = '340px'>
<br>

<p>Phase Difference is used to describe the difference in degrees or radians when two or more alternating quantities reach their maximum or zero values. <p/>

{%endblock content%}