{%extends 'bee.html'%}

{%block title%}
 unit 3
{%endblock title%}
{%block content%}

<H5>Transformer</h5>

<img src="/static/images/Unit 3/1.jpg" width='340px'>
<P>A transformer is a passive electrical device that transfers electrical energy from one electrical circuit to another, or multiple circuits. A varying current in any one coil of the transformer produces a varying magnetic flux in the transformer's core, which induces a varying electromotive force across any other coils wound around the same core. Electrical energy can be transferred between separate coils without a metallic (conductive) connection between the two circuits.

Transformers are most commonly used for increasing low AC voltages at high current (a step-up transformer) or decreasing high AC voltages at low current (a step-down transformer) in electric power applications, and for coupling the stages of signal processing circuits. Transformers can also be used for isolation, where the voltage in equals the voltage out, with separate coils not electrically bonded to one another.</p>

<H5>Construction</h5>

<P>Closed-core transformers are constructed in 'core form' or 'shell form'. When windings surround the core, the transformer is core form; when windings are surrounded by the core, the transformer is shell form. Shell form design may be more prevalent than core form design for distribution transformer applications due to the relative ease in stacking the core around winding coils.

Turns ratio= N¹/N²=V¹/V²=I²/I¹</p>

<H5>Losses</h5>

<P>Core losses, collectively called magnetizing current losses, consisting of[9]

Hysteresis losses due to nonlinear magnetic effects in the transformer core, and

Eddy current losses due to joule heating in the core that are proportional to the square of the transformer's applied voltage.

Joule losses due to resistance in the primary and secondary windings.

Leakage flux that escapes from the core and passes through one winding only resulting in primary and secondary reactive impedance.
<br>
<img src="/static/images/Unit 3/2.jpg" width='340px'>
<br>
Where, V²= second voltage
               I²=second current
               Pi= iron loss/core loss
               Pc= copper loss/winding loss
                Q=power factor
               Π=efficiency</p>

<img src="/static/images/Unit 3/3.jpg" width='340px'>


<H5>Electrostatic fields</h5>

<P>Electrostatic fields are electric fields which do not change with time, which happens when charges and currents are stationary.</p>

<H5>Electric Flux Density</h5>

<P>Electric Flux density is the electric flux(flux lines) passing through a unit area and perpendicular to the direction of  the flux. 
It is measured in C/m² (Coulomb/meter²).
E=q/(4πε r²)
D= ε E
D=q/(4πr²)</p>

<H5>Electric field strength</h5>

<P>The force acting on a unit positive charge when placed in an electric field is known as electric field strength.
It is measured in V/m (Volt/meter).

E=V/D</p>

<h5>Absolute permittivity</h5>
<P>It is the ability of dielectric material to polarize.
It is denoted by ε0.
The permittivity of free space is  8.85x10^-¹²  Farads/meter(F/m).</p>

<H5>Relative permittivity</h5>

<P>The permittivity of a given material relative to the permittivity of free space is called relative permittivity.
It is denoted by εr.</p>

<H5>Capacitance </h5>

<P>The ability of a material to store electric charges.
It is measured in Farads(F).

q=CV

where, q= charge
              C= capacitance
               V = voltage</p>
               
<H5>Capacitor</h5>
<img src="/static/images/Unit 3/4.jpg" width='340px'>

<P>It is a device that stores electrical energy in an electric field. It is a passive electronic component with two terminals.
It consists of two conductor seperated by a dielectric.

C=AK/d
where,  C= capacitance
               K= dielectric constant
               A= area of plates
               d= distance between plates</p>

{%endblock content%}