{%extends 'bee.html'%}
{%block title%}UNIT 5{%endblock title%}
{%block content%}

<h5>Active power</h5>
<br>
<img src="/static/images/Unit 5/1.jpg" width="340px">
<br>

<P>The power which is actually consumed or utilised in an AC Circuit is called True power or Active power or Real power. It is measured in kilowatt (kW) or MW. It is the actual outcomes of the electrical system which runs the electric circuits or load.</p>
<h5>Reactive power</h5>

<P>If the load is purely reactive, then the voltage and current are 90 degrees out of phase. For two quarters of each cycle, the product of voltage and current is positive, but for the other two quarters, the product is negative, indicating that on average, exactly as much energy flows into the load as flows back out. There is no net energy flow over each half cycle. In this case, only reactive power flows: There is no net transfer of energy to the load; however, electrical power does flow along the wires and returns by flowing in reverse along the same wires. The current required for this reactive power flow dissipates energy in the line resistance, even if the ideal load device consumes no energy itself. Practical loads have resistance as well as inductance, or capacitance, so both active and reactive powers will flow to normal loads.</p>
<h5>Apparent power</h5>
<P>Apparent power is the product of the rms values of voltage and current. Apparent power is taken into account when designing and operating power systems, because although the current associated with reactive power does no work at the load, it still must be supplied by the power source. Conductors, transformers and generators must be sized to carry the total current, not just the current that does useful work. Failure to provide for the supply of sufficient reactive power in electrical grids can lead to lowered voltage levels and, under certain operating conditions, to the complete collapse of the network or blackout. Another consequence is that adding the apparent power for two loads will not accurately give the total power unless they have the same phase difference between current and voltage (the same power factor).</p>

<H5>Three phase ac supply</h5>
<br>
<img src="/static/images/Unit 5/2.jpg"width="340px">
<br>
<br>
<img src="/static/images/Unit 5/3.jpg"width="340px">
<br>



{%endblock content%}