{%extends 'bee.html'%}
{% block title%}
unit1
{%endblock title%}

{%block content%}
<h5>EMF</h5>
<p>emf can be defined around a closed loop of conductor as the electromagnetic work that would be done on an electric charge (an electron in this instance) if it travels once around the loop.</p>

<h5>Potential difference</h5>
<p>
	Voltage, electric potential difference, electric pressure or electric tension is the difference in electric potential between two points, which (in a static electric field) is defined as the work needed per unit of charge to move a test charge between the two points.
</p>
<h5>Current</h5>
<p>
	An electric current is the rate of flow of electric charge past a point or region. An electric current is said to exist when there is a net flow of electric charge through a region.
</p>

<h5>Ohm's law</h5>
<p>
	Ohm's law states that the current through a conductor between two points is directly proportional to the voltage across the two points.
</p>


<h5>Resistance temperature coefficient</h5>
<p>
	A positive temperature coefficient (PTC) refers to materials that experience an increase in electrical resistance when their temperature is raised.
	<br>
	A negative temperature coefficient (NTC) refers to materials that experience a decrease in electrical resistance when their temperature is raised.
</p>

{%endblock content%}
