<!-- content Page next to engineering -->
{%extends 'base.html'%}
{%block title%}
	content
{%endblock title%}

{%block css%}

{%endblock css%}


{%block body%}



<div class="btn-group mx-2 my-2">
	<button type="button" class="btn btn-success">First Year</button>
	<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="sr-only">Toggle Dropdown</span>
	</button>
	<div class="dropdown-menu">
		<a class="dropdown-item-success mx-1" href="#">Basic Civil Engg.</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item-success mx-1" href="/bee">Basic Electrical Engg.</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item-success mx-1" href="#">Engg. Mathematics I</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item-success mx-1" href="#">Engg. Physics</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item-success mx-1" href="#">FPL I</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item-success mx-1" href="#">Engg. Mechanics</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item-success mx-1" href="#">Basic Mech. Engg.</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item-success mx-1" href="#">Engg. Mathematics II</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item-success mx-1" href="#">Basic Electronics.</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item-success mx-1" href="/ec">Engg. Chemistry</a>

	</div>
</div>

<br>
<br>

<div class="dropdown mx-2 ">
	<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Electronics & Telecomm.
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<a href="#" button type="button" class="btn btn-outline-info">Second Year</button></a>
		<div class="dropdown-divider"></div>

		<a href="#" button type="button" class="btn btn-outline-info">Third Year</button></a>
		<div class="dropdown-divider"></div>

		<a href="#" button type="button" class="btn btn-outline-info">Fourth Year</button></a>

	</div>	
</div>
<br>	

<div class="dropdown mx-2 my-2">
	<button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Information Technology
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<a href="#" button type="button" class="btn btn-outline-info">Second Year</button></a>
		<div class="dropdown-divider"></div>

		<a href="#" button type="button" class="btn btn-outline-info">Third Year</button></a>
		<div class="dropdown-divider"></div>

		<a href="#" button type="button" class="btn btn-outline-info">Fourth Year</button></a>

	</div>	
</div>

<br>
<div class="dropdown mx-2 my-2">
	<button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Computer Science
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<a href="#" button type="button" class="btn btn-outline-info">Second Year</button></a>
		<div class="dropdown-divider"></div>

		<a href="#" button type="button" class="btn btn-outline-info">Third Year</button></a>
		<div class="dropdown-divider"></div>

		<a href="#" button type="button" class="btn btn-outline-info">Fourth Year</button></a>

	</div>	
</div>


<br>
<div class="dropdown mx-2">
	<button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Mechanical Engg.
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<a href="#" button type="button" class="btn btn-outline-info">Second Year</button></a>
		<div class="dropdown-divider"></div>

		<a href="#" button type="button" class="btn btn-outline-info">Third Year</button></a>
		<div class="dropdown-divider"></div>

		<a href="#" button type="button" class="btn btn-outline-info">Fourth Year</button></a>

	</div>	
</div>

<br>

<div class="dropdown mx-2">
	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Civil Enggineering
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<a href="#" button type="button" class="btn btn-outline-info">Second Year</button></a>
		<div class="dropdown-divider"></div>

		<a href="#" button type="button" class="btn btn-outline-info">Third Year</button></a>
		<div class="dropdown-divider"></div>

		<a href="#" button type="button" class="btn btn-outline-info">Fourth Year</button></a>
		
	</div>	
</div>
</div>

{%endblock body%}