{%extends 'ec.html'%}
 {%block title%}UNIT 6{%endblock title%}
{%block content%}
<H5>Galvanization</h5>
	 <br>
    <img src="/static/images/ec/unit6/1.jpg" width="340px" >
    <br>

<P>Galvanization or galvanizing (also spelled galvanisation or galvanising)[1] is the process of applying a protective zinc coating to steel or iron, to prevent rusting. The most common method is hot-dip galvanizing, in which the parts are submerged in a bath of molten hot zinc.<br>
Galvanizing protects the underlying iron or steel in the following main ways:<br>
The zinc coating, when intact, prevents corrosive substances from reaching the underlying steel or iron.<br>
The zinc protects iron by corroding first.<br>
In the event the underlying metal becomes exposed, protection can continue as long as there is zinc close enough to be electrically coupled. After all of the zinc in the immediate area is consumed, localized corrosion of the base metal can occur.</p>



<H5>Anodic coating</h5>

 <br>
    <img src="/static/images/ec/unit6/2.jpg" width="340px" >
    <br>
<P>Anodizing is an electrolytic passivation process used to increase the thickness of the natural oxide layer on the surface of metal parts.
The process is called anodizing because the part to be treated forms the anode electrode of an electrolytic cell. Anodizing increases resistance to corrosion and wear, and provides better adhesion for paint primers and glues than bare metal does. Anodic films can also be used for several cosmetic effects, either with thick porous coatings that can absorb dyes or with thin transparent coatings that add interference effects to reflected light.</p>


<H5>Cathodic protection</h5>
 <br>
    <img src="/static/images/ec/unit6/3.jpg" width="340px" >
    <br>
<P>Cathodic protection (CP) is a technique used to control the corrosion of a metal surface by making it the cathode of an electrochemical cell.[1] A simple method of protection connects the metal to be protected to a more easily corroded "sacrificial metal" to act as the anode. The sacrificial metal then corrodes instead of the protected metal. For structures such as long pipelines, where passive galvanic cathodic protection is not adequate, an external DC electrical power source is used to provide sufficient current.<br>
Cathodic protection systems protect a wide range of metallic structures in various environments. Common applications are: steel water or fuel pipelines and steel storage tanks such as home water heaters; steel pier piles; ship and boat hulls; offshore oil platforms and onshore oil well casings; offshore wind farm foundations and metal reinforcement bars in concrete buildings and structures. Another common application is in galvanized steel, in which a sacrificial coating of zinc on steel parts protects them from rust.</p>

<H5>Powder coating</h5>

 <br>
    <img src="/static/images/ec/unit6/4.jpg" width="340px" >
    <br>
<P>Powder coating is a type of coating that is applied as a free-flowing, dry powder. Unlike conventional liquid paint which is delivered via an evaporating solvent, powder coating is typically applied electrostatically and then cured under heat or with Ultraviolet light. The powder may be a thermoplastic or a thermoset polymer. It is usually used to create a hard finish that is tougher than conventional paint. Powder coating is mainly used for coating of metals, such as household appliances, aluminium extrusions, drum hardware, automobile, motorcycle, and bicycle parts. More advanced technologies allow other materials, such as plastics, composites, carbon fiber, and MDF (medium-density fibreboard), to be powder coated using different methods that require less heat and time
This process puts a coating on an item electrostatically, which is then cured by heat. The finish is harder and tougher than conventional paint. The process is useful for coatings on metal used in many household appliances, aluminum products and automotive parts.</p>

 <br>
    <img src="/static/images/ec/unit6/5.jpg" width="340px" >
    <br>
<P>Because powder coating does not have a liquid carrier, it can produce thicker coatings than conventional liquid coatings without running or sagging, and powder coating produces minimal appearance differences between horizontally coated surfaces and vertically coated surfaces. Because no carrier fluid evaporates away, the coating process emits few volatile organic compounds (VOC). Finally, several powder colors can be applied before curing them all together, allowing color blending and bleed special effects in a single layer.
While it is relatively easy to apply thick coatings that cure to smooth, texture-free coating, it is not as easy to apply smooth thin films. As the film thickness is reduced, the film becomes more and more orange peeled in texture due to the particle size and glass transition temperature (Tg) of the powder.</p>

<H5>Electroplating</h5>


 <br>
    <img src="/static/images/ec/unit6/6.jpg" width="340px" >
    <br>
<P>Electroplating is a process that uses an electric current to reduce dissolved metal cations so that they form a thin coherent metal coating on an electrode. The term is also used for electrical oxidation of anions on to a solid substrate, as in the formation of silver chloride on silver wire to make silver/silver-chloride electrodes. Electroplating is primarily used to change the surface properties of an object (such as abrasion and wear resistance, corrosion protection, lubricity, aesthetic qualities), but may also be used to build up thickness on undersized parts or to form objects by electroforming.<br>
The process used in electroplating is called electrodeposition. It is analogous to a concentration cell acting in reverse. The part to be plated is the cathode of the circuit. In one technique, the anode is made of the metal to be plated on the part. Both components are immersed in a solution called an electrolyte containing one or more dissolved metal salts as well as other ions that permit the flow of electricity. A power supply supplies a direct current to the anode, oxidizing the metal atoms that it comprises and allowing them to dissolve in the solution. At the cathode, the dissolved metal ions in the electrolyte solution are reduced at the interface between the solution and the cathode, such that they "plate out" onto the cathode. The rate at which the anode is dissolved is equal to the rate at which the cathode is plated and thus the ions in the electrolyte bath are continuously replenished by the anode.</p><br>

 <br>
    <img src="/static/images/ec/unit6/7.jpg" width="340px" >
    <br>

<P>Other electroplating processes may use a non-consumable anode such as lead or carbon. In these techniques, ions of the metal to be plated must be periodically replenished in the bath as they are drawn out of the solution. The most common form of electroplating is used for creating coins, such as US pennies, which are made of zinc covered in a layer of copper.
The cations associate with the anions in the solution. These cations are reduced at the cathode to deposit in the metallic, zero valence state. For example, for copper plating, in an acid solution, copper is oxidized at the anode to Cu2+ by losing two electrons. The Cu2+ associates with the anion SO2−4 in the solution to form copper(II) sulphate. At the cathode, the Cu2+ is reduced to metallic copper by gaining two electrons. The result is the effective transfer of copper from the anode source to a plate covering the cathode.</p>
{%endblock content%}