{%extends 'ec.html'%} 
{%block title%}UNIT 5{%endblock title%}
{%block content%}
<H5>Hydrogen storage</h5>
 <br>
    <img src="/static/images/ec/unit5/1.jpg" width="340px">
    <br>


<P>Hydrogen storage is a term used for any of several methods for storing hydrogen for later use. These methods encompass mechanical approaches such as high pressures and low temperatures, or chemical compounds that release H2 upon demand.
Chemical storage could offer high storage performance due to the high storage densities.
H2 release can be induced by hydrolysis reactions or catalyzed dehydrogenation reactions. Illustrative storage compounds are hydrocarbons, boron hydrides, ammonia, and alane etc.[6] A most promising chemical approach is electrochemical hydrogen storage, as the release of hydrogen can be controlled by the applied electricity.
nanomaterials offer advantage for hydrogen storage systems. Nanomaterials offer an alternative that overcomes the two major barriers of bulk materials, rate of sorption and release temperature.
Hydrogen can be produced using aluminium by reacting it with water. To react with water, however, aluminium must be stripped of its natural oxide layer, a process which requires pulverization, chemical reactions with caustic substances, or alloys.The byproduct of the reaction to create hydrogen is aluminum oxide, which can be recycled back into aluminium with the Hall–Héroult process, making the reaction theoretically renewable. However, this requires electrolysis, which consumes a large amount of energy.</p>

 <br>
    <img src="/static/images/ec/unit5/2.jpg" width="340px" height="340px">
    <br>



<P>Activated carbons are highly porous amorphous carbon materials with high apparent surface area. Hydrogen physisorption can be increased in these materials by increasing the apparent surface area and optimizing pore diameter to around 7 Å.[45] These materials are of particular interest due to the fact that they can be made from waste materials, such as cigarette butts which have shown great potential as precursor materials for high-capacity hydrogen storage materials.
Graphene can store hydrogen efficiently. The H2 adds to the double bonds giving graphane. The hydrogen is released upon heating to 450 °C.
To realize carbon materials as effective hydrogen storage technologies, carbon nanotubes (CNTs) have been doped with MgH2.</p>










<H5>Graphite</h5>

 <br>
    <img src="/static/images/ec/unit5/3.jpg" width="340px">
    <br>

<P>Graphite (/ˈɡræfaɪt/), archaically referred to as plumbago, is a crystalline form of the element carbon with its atoms arranged in a hexagonal structure. It occurs naturally in this form and is the most stable form of carbon under standard conditions. Under high pressures and temperatures it converts to diamond. Graphite is used in pencils and lubricants. It is a good conductor of heat and electricity. Its high conductivity makes it useful in electronic products such as electrodes, batteries, and solar panels.
Solid carbon comes in different forms known as allotropes depending on the type of chemical bond. The two most common are diamond and graphite (less common ones include buckminsterfullerene).
In graphite they are sp2 orbital hybrids and the atoms form in planes with each bound to three nearest neighbors 120 degrees apart.
The individual layers are called graphene. In each layer, the carbon atoms are arranged in a honeycomb lattice with separation of 0.142 nm, and the distance between planes is 0.335 nm.Atoms in the plane are bonded covalently, with only three of the four potential bonding sites satisfied. The fourth electron is free to migrate in the plane, making graphite electrically conductive. However, it does not conduct in a direction at right angles to the plane. Bonding between layers is via weak van der Waals bonds, which allows layers of graphite to be easily separated, or to slide past each other.
The two known forms of graphite, alpha (hexagonal) and beta (rhombohedral), have very similar physical properties, except that the graphene layers stack slightly differently.The alpha graphite may be either flat or buckled.The alpha form can be converted to the beta form through mechanical treatment and the beta form reverts to the alpha form when it is heated above 1300 °C.</p>



<H5>Isotopes of carbon</h5>

<P>Carbon (6C) has 15 known isotopes, from 8C to 22C, of which 12C and 13C are stable. The longest-lived radioisotope is 14C, with a half-life of 5,730 years. This is also the only carbon radioisotope found in nature—trace quantities are formed cosmogenically by the reaction 14N + 1n → 14C + 1H. The most stable artificial radioisotope is 11C, which has a half-life of 20.364 minutes. All other radioisotopes have half-lives under 20 seconds, most less than 200 milliseconds. The least stable isotope is 8C, with a half-life of 2.0 x 10−21 s.</p>

<H5>Diamond</h5>

 <br>
    <img src="/static/images/ec/unit5/4.jpg" width="340px">
    <br>

</P>Diamond is a solid form of the element carbon with its atoms arranged in a crystal structure called diamond cubic. At room temperature and pressure, another solid form of carbon known as graphite is the chemically stable form, but diamond almost never converts to it. Diamond has the highest hardness and thermal conductivity of any natural material, properties that are utilized in major industrial applications such as cutting and polishing tools. They are also the reason that diamond anvil cells can subject materials to pressures found deep in the Earth.
Because the arrangement of atoms in diamond is extremely rigid, few types of impurity can contaminate it (two exceptions being boron and nitrogen). Small numbers of defects or impurities (about one per million of lattice atoms) color diamond blue (boron), yellow (nitrogen), brown (defects), green (radiation exposure), purple, pink, orange or red. Diamond also has relatively high optical dispersion (ability to disperse light of different colors).
Diamond is a solid form of pure carbon with its atoms arranged in a crystal. Solid carbon comes in different forms known as allotropes depending on the type of chemical bond. The two most common allotropes of pure carbon are diamond and graphite. In graphite the bonds are sp2 orbital hybrids and the atoms form in planes with each bound to three nearest neighbors 120 degrees apart. In diamond they are sp3 and the atoms form tetrahedra with each bound to four nearest neighbors.Tetrahedra are rigid, the bonds are strong, and of all known substances diamond has the greatest number of atoms per unit volume, which is why it is both the hardest and the least compressible.It also has a high density, ranging from 3150 to 3530 kilograms per cubic metre (over three times the density of water) in natural diamonds and 3520 kg/m3 in pure diamond.
The most common crystal structure of diamond is called diamond cubic. It is formed of unit cells (see the figure) stacked together. Although there are 18 atoms in the figure, each corner atom is shared by eight unit cells and each atom in the center of a face is shared by two, so there are a total of eight atoms per unit cell. Each side of the unit cell is 3.57 angstroms in length.
A diamond cubic lattice can be thought of as two interpenetrating face-centered cubic lattices with one displaced by 1/4 of the diagonal along a cubic cell, or as one lattice with two atoms associated with each lattice point.<p>

<H5>Carbon nanotubes</h5>

 <br>
    <img src="/static/images/ec/unit5/5.jpg" width="340px">
    <br>
<P>Carbon nanotubes (CNTs) are tubes made of carbon with diameters typically measured in nanometers.
single-wall carbon nanotubes can be thought of as cutouts from a two-dimensional hexagonal lattice of carbon atoms rolled up along one of the Bravais lattice vectors of the hexagonal lattice to form a hollow cylinder. In this construction, periodic boundary conditions are imposed over the length of this roll up vector to yield a lattice with helical symmetry of seamlessly bonded carbon atoms on the cylinder surface.
Carbon nanotubes can exhibit remarkable electrical conductivity. They also have exceptional tensile strength and thermal conductivity,because of their nanostructure and strength of the bonds between carbon atoms. In addition, they can be chemically modified.These properties are expected to be valuable in many areas of technology, such as electronics, optics, composite materials (replacing or complementing carbon fibers), nanotechnology, and other applications of materials science.
Individual carbon nanotubes naturally align themselves into "ropes" held together by relatively weak van der Waals forces. The length of a carbon nanotube produced by common production methods is often not reported, but is much larger than its diameter. Although rare, nanotubes half a meter long have been created, with a length-to-diameter ratio of more than 100,000,000:1.</p>

<H5>Isotopes of Hydrogen</h5>

 <br>
    <img src="/static/images/ec/unit5/6.jpg" width="340px" >
    <br>

<P>Hydrogen (1H) has three naturally occurring isotopes, sometimes denoted 1H, 2H, and 3H. The first two of these are stable, while 3H has a half-life of 12.32 years. There are also heavier isotopes, which are all synthetic and have a half-life less than one zeptosecond (10−21 second). Of these, 5H is the most stable, and 7H is the least.
Hydrogen is the only element whose isotopes have different names in common use today: the 2H (or hydrogen-2) isotope is deuterium and the 3H (or hydrogen-3) isotope is tritium. The symbols D and T are sometimes used for deuterium and tritium. The IUPAC accepts the D and T symbols, but recommends instead using standard isotopic symbols (2H and 3H) to avoid confusion in the alphabetic sorting of chemical formulas.The ordinary isotope of hydrogen, with no neutrons, is sometimes called protium.</p>
{%endblock content%}