{%extends 'ec.html' %} 
{%block title%} UNIT 3{%endblock title%}
{%block content%}

<H5>Vulcanization</h5>
<P>Vulcanization refers to a range of processes for hardening rubbers. The term originally referred exclusively to the treatment of natural rubber with sulfur, which remains the most common practice; however, it has also grown to include the hardening of other rubbers via various means.</p>
    <br>
    <img src="/static/images/ec/unit3/1.jpg"  width="340px">
    <br>


<P> The main polymers subjected to sulfur vulcanization are polyisoprene (natural rubber) and styrene-butadiene rubber (SBR), which are used for most street-vehicle tires.</p>


    <br>
    <img src="/static/images/ec/unit3/2.jpg" width="340px">
    <br>


<H5>Power Alcohol</h5>


    <br>
    <img src="/static/images/ec/unit3/3.jpg" width="340px">
    <br>

<P>Power alcohol is a liquid mixture containing 80% petrol, 20% ethanol and a small amount of benzene. It is useful in the field of automobiles to generate energy for its operations.It  reduces our dependence for petrol on foreign countries & saves our foreign reserves,gives boost to indigenous manufacturers of ethyl alcohol & farmers get better price of their grain produce.
Ethyl alcohol has good Ant knocking property and its octane number is 90.
It has property of absorbing any traces of water if present in petrol.
If a specially designed engine with higher compression ratio is used then the disadvantage and lower CV can be overcome.
It contains O atoms which help for complete combustion of power alcohol & the polluting emission of CO, hydrocarbon, particulates are reduced largely.
Use of ethyl alcohol in petrol reduces our dependence on foreign countries for petrol and saves foreign currency considerably.
Power alcohol is cheaper than petrol.<p>








<H5>Bomb calorimeter</h5>

    <br>
    <img src="/static/images/ec/unit3/4.jpg" width="340px" height="400px">
    <br>

<br>

<P>A calorimeter is an object used for calorimetry, or the process of measuring the heat of chemical reactions or physical changes as well as heat capacity. 
A bomb calorimeter is a type of constant-volume calorimeter used in measuring the heat of combustion of a particular reaction. Bomb calorimeters have to withstand the large pressure within the calorimeter as the reaction is being measured. Electrical energy is used to ignite the fuel; as the fuel is burning, it will heat up the surrounding air, which expands and escapes through a tube that leads the air out of the calorimeter. When the air is escaping through the copper tube it will also heat up the water outside the tube. The change in temperature of the water allows for calculating calorie content of the fuel.
Basically, a bomb calorimeter consists of a small cup to contain the sample, oxygen, a stainless steel bomb, water, a stirrer, a thermometer, the dewar or insulating container (to prevent heat flow from the calorimeter to the surroundings) and ignition circuit connected to the bomb. By using stainless steel for the bomb, the reaction will occur with no volume change observed.
Since there is no heat exchange between the calorimeter and surroundings (Q = 0) (adiabatic), no work is performed (W = 0).</p>

<H5>Thermosetting polymers</h5>

<P>A thermosetting polymer, resin, or plastic, often called a thermoset, is a polymer that is irreversibly hardened by curing from a soft solid or viscous liquid prepolymer or resin.Curing is induced by heat or suitable radiation and may be promoted by high pressure, or mixing with a catalyst. Heat is not necessarily to be applied externally. It is often generated by the reaction of the resin with a curing agent (catalyst, hardener). Curing results in chemical reactions that create extensive cross-linking between polymer chains to produce an infusible and insoluble polymer network.
The starting material for making thermosets is usually malleable or liquid prior to curing, and is often designed to be molded into the final shape. It may also be used as an adhesive. Once hardened, a thermoset cannot be melted for reshaping.</p>



    <br>
    <img src="/static/images/ec/unit3/5.jpg" width="340px" height="340px">
    <br>







<H5>Thermo softening</h5>


<P>Thermosoftening polymers are polymers that can be re-shaped into a new shape once they are heated up. Polyethylene is an example of a thermosoftening polymer.
A thermoplastic, or thermosoftening plastic, is a plastic polymer material that becomes pliable or moldable at a certain elevated temperature and solidifies upon cooling.
Most thermoplastics have a high molecular weight. The polymer chains associate by intermolecular forces, which weaken rapidly with increased temperature, yielding a viscous liquid. In this state, thermoplastics may be reshaped and are typically used to produce parts by various polymer processing techniques such as injection molding, compression molding, calendering, and extrusion.</p>



    <br>
    <img src="/static/images/ec/unit3/6.jpg" width="340px" height="340px">
    <br>







<H5>Biodegradable polymers</h5>

    <br>
    <img src="/static/images/ec/unit3/7.jpg" width="340px" height="340px">
    <br>


<P>Biodegradable polymers are a special class of polymer that breaks down after its intended purpose by bacterial decomposition process to result in natural byproducts such as gases (CO2, N2), water, biomass, and inorganic salts. These polymers are found both naturally and synthetically made, and largely consist of ester, amide, and ether functional groups. Their properties and breakdown mechanism are determined by their exact structure. These polymers are often synthesized by condensation reactions, ring opening polymerization, and metal catalysts. There are vast examples and applications of biodegradable polymers.
Bio-based packaging materials have been introduced as a green alternative in the past decades, among which, edible films have gained more attention due to their environmentally-friendly characteristics, vast variety and availability, non-toxicity, and low cost.</p>

{%endblock content%}