{%extends 'ec.html'%}
{%block title%}UNIT 1{%endblock title%}
{%block content%}

<H5>Zeolites</h5>

  <p>Zeolites are crystalline solids structures made of silicon, aluminum and oxygen that form a framework with cavities and channels inside where cations, water and/or small molecules may reside. They are often also referred to as molecular sieves.</p>

  <H5>Zeolite process for water softening</h5>

    <br>
    <img src="/static/images/ec/unit1/1.jpg">
    <br>


    <p>When hard water containing Ca2+ and Mg2+ ions is passed through the bed of sodium zeolite, the magnesium and calcium in hard water is replaced by sodium.
      <br>
      Ca(HCO3)2  + Na2Z =CaZ + 2NaHCO3<br>
      Mg(HCO3)2+ Na2Z =MgZ + 2NaHCO3<br>
      CaSO4 + Na2Z =CaZ + Na2SO4<br>
      CaCl2 + Na2Z =  CaZ  +    2NaCl<br>
      MgSO4    + Na2Z  = MgZ     +    Na2SO4<br>
      MgCl2    +    Na2Z  =  MgZ     +    2NaCl<br>

      After sometime, when zeolite is completely replaced by calcium and magnesium ions and it gets exhausted. It can be completely recovered by passing 10% of brine solution through bed.
      <br>
      CaZ    +    2NaCl = Na2Z     +    CaCl2<br>
      MgZ    +    2NaCl  = Na2Z     +    MgCl2<br>

      <b>Advantages</b><br>

      It removes water hardness completely.<br>
      It adjusts automatically according to the hardness of water.<br>
      It requires less time for process.<br>
      It doesn't require special skills for process and maintenance.<br>

      <b>Disadvantages</b>
      <br>
      The treated water contains more sodium than usual.<br>
      The softened water contains acidic ions and sodium bicarbonate, which when used in boilers for steam generation causes caustic embrittlement and currosion.<br>
    High turbidity water cannot be treated.</p>

    <H5>Reference electrode</h5>

      <P1>The electrode which has a well-known and stable electrode potential.
      And have an accurately maintained potential, used as a reference for measurement by other electrodes.</p1>
      <p2>The reference electrode is used as a half-cell to build an electrochemical cell. This allows the potential of the other half cell to be determined. </P2>

        <H5>Standard calomel electrode</H5>

        <P>The saturated calomel electrode (SCE) is a reference electrode based on the reaction between elemental mercury and mercury(I) chloride. It has been widely replaced by the silver chloride electrode, however the calomel electrode has a reputation of being more robust. The aqueous phase in contact with the mercury and the mercury(I) chloride (Hg2Cl2, "calomel") is a saturated solution of potassium chloride in water. The electrode is normally linked via a porous frit to the solution in which the other electrode is immersed. This porous frit is a salt bridge.
        The SCE is used in pH measurement.</p>

        <H5>Conductometric titration</h5>

          <p>The principle of conductometric titration is based on the fact that during the titration,one of the ions is replaced by the other.
          KCl and AgNO3 being salts, both are strong electrolyte and hence they dissociate completely in aqueous medium.As KCl is strong electrolyte it dissociates into K+ and Cl- ion completely and hence number of ions will be maximum in the solution and the solution will show high conductance. As we add AgNO3 dropwise, a precipitation of AgCl will occur, chloride ion is removed from the solution and nitate ion is introduced in the solution. So, As titration proceeds, each chloride is being replaced by a nitrate ion. The ionic conductance value of chloride and nitrtate is comparable and hence there will not be any effective change of conductance.After reaching equivalent point when all the Cl- ion is consumed, further addition of  AgNO3 simply add more Ag+ and NO3- in solution and hence conductance  increase again.</p>

          <H5>Types of Hardness of Water</h5>

            <P>The hardness of water can be classified into two types:<br>
              Temporary Hardness
            Permanent Hardness</p>

            <H5>Temporary Hardness of Water:</h5>

              <p>The presence of magnesium and calcium carbonates in water makes it temporarily hard. In this case, the hardness in water can be removed by boiling the water.
              When we boil water the soluble salts of Mg(HCO3)2 is converted to Mg(OH)2 which is insoluble and hence gets precipitated and is removed. After filtration, the water we get is soft water.</p>

              <H5>Permanent Hardness of Water:</h5>

                <P>When the soluble salts of magnesium and calcium are present in the form of chlorides and sulfides in water, we call it permanent hardness because this hardness cannot be removed by boiling.
                We can remove this hardness by treating the water with washing soda. Insoluble carbonates are formed when washing soda reacts with the sulfide and chloride salts of magnesium and calcium and thus hard water is converted to soft water.</p>

                <H5>Kohlrausch's law</h5>

                  <P>Kohlrausch's law states that the equivalent conductivity of an electrolyte at infinite dilution is equal to the sum of the conductances of the anions and cations.This law is popularly known as Kohlrausch law of independent migration of ions.</p>

                    <H5>Applications</h5>

                      <p>Calculation of Degree of dissociation
                        Calculation of solubility of sparingly soluble salt.
                        Calculation of Dissociation Constant for week electrolytes.
                      Calculation of Molar Conductivity for week electrolytes at infinite dilution.</p>

                      <H5>Desalination of water</h5>

                        <p>Desalination is a process that takes away mineral components from saline water. More generally, desalination refers to the removal of salts and minerals from a target substance</p>

                        <H5>Osmosis</h5>

                          <br>
                          <img src="/static/images/ec/unit1/2.jpg">
                          <br>

                          <P>Osmosis is the movement of a solvent across a semipermeable membrane toward a higher concentration of solute (lower concentration of solvent). In biological systems, the solvent is typically water, but osmosis can occur in other liquids, supercritical liquids, and even gases.</p>

                            <H5>Reverse osmosis</h5>
                              <br>
                              <img src="/static/images/ec/unit1/3.jpg">
                              <br>


                              <P>Reverse osmosis is a water purification process that uses a partially permeable membrane to remove ions, unwanted molecules and larger particles from drinking water. A process by which a solvent passes through a porous membrane in the direction opposite to that for natural osmosis when subjected to a hydrostatic pressure greater than the osmotic pressure.</p>


      {%endblock content%}
